<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Partial("_Favicons")
    <title>@ViewData["Title"] | REGGIE</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(snippet.FullScript)
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-lower">
        <div class="container-fluid search-group">
            <div class="row-fluid">
                <div class="col-sm-7">
                    <form asp-controller="Insurance" asp-action="Index" method="get" id="reggiesearchform">
                        <div class="input-group" >
                            <div class="input-group-btn search-panel" id="reggiestateselect">
                                <button id="reggiedropdown" type="button" class="btn btn-default dropdown-toggle btn-searchbar" data-toggle="dropdown">
                                    <span id="search_concept">Select State</span> <span class="caret"style="color: #312b54"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#Alaska" id="Alaska">Alaska</a></li>
                                    <li><a href="#California" id="California">California</a></li>
                                    <li><a href="#Montana" id="Montana">Montana</a></li>
                                    <li><a href="#Oregon" id="Oregon">Oregon</a></li>
                                    <li><a href="#Washington" id="Washington">Washington</a></li>
                                </ul>

                            </div>
                            <input type="hidden" name="p" value="" id="search_param" data-val="true" data-val-required="You must select a state to search.">         
                            <input type="text" class="form-control" name="q" placeholder="Search" id="reggiesearchfield">
                            <span class="input-group-btn" >
                                <button class="btn btn-default btn-searchbar" type="submit" id="searchSubmit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3 nav-alert" id="searchFormAlert">
                    <span class="glyphicon glyphicon-alert"></span> You must select a state.
                </div>
            
            </div>
        </div>

    </div>

    <div class="navbar navbar-fixed-top navbar-inverse navbar-upper" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-left">
                    <img src="~/images/reggie_logo_light.png" alt="reggie" >
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                    @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="body-content">
            @RenderBody()
        </div>
        <hr />
        <footer >
            <p>&copy; 2017 - REGGIE</p>
        </footer>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
